{% load static %}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Deals Two Of Us{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.jpg' %}">

    <link rel="apple-touch-icon" href="{% static 'img/logo.jpg' %}">
    <!-- Place favicon.ico in the root directory -->
    <!-- google fonts -->
    <!-- CSS only -->
    
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- pe-icon-7-stroke -->
    <link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}">
    <!-- pe-icon-7-stroke -->
    <link rel="stylesheet" href="{% static 'css/jquery.simpleLens.css' %}">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
    <!-- nivo.slider css -->
    <link rel="stylesheet" href="{% static 'css/nivo-slider.css' %}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- modernizr js -->


    
    <style> 
        #searchh input[type=text] {
        width: 150px;
        margin-top:10px;
        margin-bottom:10px;
        box-sizing: border-box;
        border: 2px solid #1e81b0;
        border-radius: 4px;
        font-size: 16px;
        color:#000;
        background-color: #fff;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        }

        #searchh input[type=text]:focus {
        width: 80%;
        }
    </style>

    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/your-kit-code.js" crossorigin="anonymous"></script>


    <script src="https://www.paypal.com/sdk/js?client-id=ATDakGEFESlSq0xbOzxw0W-dZUWrKfiedaKAFHEk0QKfsUeeR_9j6G1A78TUmvFJuMvz3ArZroEobPHY&currency=USD"></script>
    
</head>

<body style="background:#fff">

    <div class="top-ticker-container">
        <div class="ticker-wrapper">
          <div class="ticker-item">🚚 We Offer Countrywide Delivery 🚚• </div>
          <!-- Duplicate text for a seamless continuous loop -->
          <div class="ticker-item" aria-hidden="true">🔥 Two Of Us Offers • Free shipping on orders over KSh 75,000 • </div>

          <!-- Duplicate text for a seamless continuous loop -->
          <div class="ticker-item" aria-hidden="true">Need Help? ☎️ Call / Whatsapp 0735-413-243 </div>
        </div>
      </div>
      

    <!-- header section start -->
    <header style="background:#fff" class="header-one header-two">
        <div style="background:#000" class="header-top-two">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="middel-top">
                            {% if user.id is None %}
                            <div class="left floatleft">
                                <p style="color:#fff"><b>Welcome Guest!</b></p>
                            </div>
                            {% else %}
                            <div class="left floatleft">
                                <p style="color:#fff"><b>Welcome {{user.first_name | capfirst}}!</b></p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="middel-top clearfix">
                            <ul class="clearfix right floatright">
                                <li>
                                    <a style="color:#fff" href="#"><i class="mdi mdi-account"></i></a>
                                    {% if user.id is None %}
                                    <ul style="background:#fff">
                                        <li><a href="{% url 'accounts:login' %}">Login</a></li>
                                        <li><a href="{% url 'accounts:register' %}">Register</a></li>
                                    </ul>
                                    {% else %}
                                    <ul style="background:#fff">
                                        <li><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
                                        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                                    </ul>
                                    {% endif %}
                                </li>
                                <li>
                                    <a style="color:#1e81b0" href="tel:+254735413243"><i class="mdi mdi-phone-incoming"></i></a>
                                    <ul style="background:#fff">
                                        <li><a href="tel:+254735413243">Help Centre</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!--
                            <div class="right floatright">
                               
                                     <form action="{% url 'shop:search' %}" method="GET" >
                                    <button style="color:#1e81b0" type="submit"><i class="mdi mdi-magnify"></i></button>
                                    <input type="text" placeholder="Search..." name="keyword"/>
                                    </form>
                            -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-2">
                    <div class="logo">
                        <a href="\" class="logo"><img src="{% static 'img/logo.png' %}" alt="" class="img-fluid"></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="header-middel">
                        <div class="mainmenu">
                            <nav >
                                <ul>
                                    <li ><a href="\">Home</a></li>
                                    <li><a href="{% url 'shop:shop' %}">Shop</a></li>
                                    <li><a href="#">All Categories <i class="mdi mdi-arrow-down"></i></a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'shop:shop' %}">All</a></li>
                                            {% for category in categories %}
                                            <li><a href="{{ category.get_category_slug_url }}">{{category.name}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li><a href="#">News/Offers</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="{% url 'shop:contact' %}">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- mobile menu start -->
                        <div class="mobile-menu-area">
                            <div class="mobile-menu">
                                <nav  id="dropdown">
                                    <ul>
                                        <li><a style="color:#fff" href="\">Home</a></li>
                                        <li><a style="color:#fff" href="{% url 'shop:shop' %}">Shop</a></li>
                                        <li><a style="color:#fff" href="{% url 'shop:shop' %}">All Categories</a>
                                            <ul class="dropdown">
                                                <li><a style="color:#fff" href="{% url 'shop:shop' %}">All</a></li>
                                                {% for category in categories %}
                                                <li><a style="color:#fff" href="{{ category.get_category_slug_url }}">{{category.name}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li><a style="color:#fff" href="#">News/Updates</a></li>
                                        <li><a style="color:#fff" href="#">About</a></li>
                                        <li><a style="color:#fff" href="{% url 'shop:contact' %}">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="cart-itmes">
                        <a class="cart-itme-a" href="{% url 'cart:cart' %}">

                            <i class="mdi mdi-cart"></i>
                            {{quantityyy}} items : <strong>KSh {{totalll}}</strong>
                        </a>
                        <div class="cartdrop">
                            {% for x in cart_itemsss %}
                            <div class="sin-itme clearfix">
                                <a style="color:#fff" href="{% url 'cart:remove_cart_item' x.product.id x.id %}" onclick="return confirm('Are you really want delete this?')"><i style="background:#2083b0" class="mdi mdi-close"></i></a>
                                <a class="cart-img" href="{{x.product.get_prodcut_details_url}}"><img style="height:auto;width:100%" src="{{x.product.image.url}}" alt="" /></a>
                                <div class="menu-cart-text floatright">
                                    <a href="{{x.product.get_prodcut_details_url}}">
                                        <h5>{{x.product.name}}</h5>
                                    </a>
                                    
                                    {% if x.variation.all %}
                                        {% for item in x.variation.all %}
                                        <span>{{item.variation_category | capfirst}} : {{item.variation_value | capfirst}}</span>
                                        {% endfor %}
                                    {% endif %}
                                    <span>Price for each : KSh {{x.product.price}}</span>
                                    <span>Quantity : {{x.quantity}}</span>
                                    <strong>KSh {{x.sub_total}}</strong>
                                </div>
                            </div>
                            
                            {% endfor %}
                            
                            <div class="total">
                                <span>total <strong>= KSh {{totalll}}</strong></span>
                            </div><br>
                            {% if '/cart/' not in request.path %}
                            <a style="background:#fff;color:#1e81b0" class="out-menu" href="{% url 'cart:cart' %}">Go To Cart</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="background:#fff">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <form id="searchh" action={% url 'shop:search' %} method="GET">
                        <input  type="text" name="keyword" placeholder="Search...">
                        <button style="height:49px; margin-bottom:6px; background:#fff;margin-left:-1px;border:None "  class="btn btn-warning" type="submit">
                           <i style="color:#1e81b0" class="fa fa-search"></i>
                        </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <br>
    <!--===================== Content ====================-->
    {% block content %}

    {% endblock content %}

    <!-- FLOATING ACTIONS -->
  <div class="fl-a">
    <a href="tel:+254735413243" class="flb cl" title="Call 0735413243">
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2">
        <path
          d="M22 16.92v3a2 2 0 01-2.18 2 19.79 19.79 0 01-8.63-3.07A19.5 19.5 0 013.43 10.34 19.79 19.79 0 01.36 1.75 2 2 0 012.34 0h3a2 2 0 012 1.72 12.84 12.84 0 00.7 2.81 2 2 0 01-.45 2.11L6.91 8.1a16 16 0 006 6l1.27-1.27a2 2 0 012.11-.45 12.84 12.84 0 002.81.7A2 2 0 0122 16.92z" />
      </svg>
    </a>
    <a href="https://wa.me/254735413243?text=Hi!%20I'm%20from%20TwoOfUs%20Communications%20website%20😊%20." target="_blank"
      class="flb wa" title="WhatsApp 0735413243">
      <svg width="22" height="22" viewBox="0 0 24 24" fill="#fff">
        <path
          d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347z" />
        <path
          d="M11.999 2C6.477 2 2 6.477 2 12c0 1.89.525 3.66 1.438 5.168L2 22l4.868-1.426A9.945 9.945 0 0012 22c5.523 0 10-4.477 10-10S17.522 2 11.999 2zm0 18a7.95 7.95 0 01-4.071-1.118l-.291-.173-3.018.883.849-3.1-.19-.309A7.977 7.977 0 014 12c0-4.411 3.589-8 8-8s8 3.589 8 8-3.589 8-8 8z" />
      </svg>
    </a>
  </div>




    <!-- Elegant Footer -->
    <footer class="elegant-footer">
        <div class="footer-container">
            
            <!-- Top Section Grid -->
            <div class="footer-grid">
                
                <!-- Brand Info -->
                <div class="footer-column">
                    <div class="logo">
                        <a href="\" class="logo"><img src="{% static 'img/logo.png' %}" alt="" class="img-fluid"></a>
                    </div>
                    <p>Get the latest Brand Phones in Kenya. Two Of Us is your one-stop shop for all your mobile phone needs in Kenya.</p>
                    <div class="social-icons">
                        <a href="https://www.instagram.com/twoofuscommunication/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/twoofuscommucations/" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" aria-label="Twitter"><i class="fab fa-x-twitter"></i></a>
                    </div>
                </div>

                <!-- Shop Navigation -->
                <div class="footer-column">
                    <h3>Shop By Brands</h3>
                    <ul class="footer-links">
                        <li><a href="#"> Samsung</a></li>
                        <li><a href="#"> Apple</a></li>
                        <li><a href="#"> Xiaomi</a></li>
                        <li><a href="#"> Google</a></li>
                    </ul>
                </div>

                <!-- Customer Service -->
                <div class="footer-column">
                    <h3>Assistance</h3>
                    <ul class="footer-links">
                        <li><a href="#">Shipping & Returns</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Store Location</a></li>
                    </ul>
                </div>

                <div class="footer-column">
                    <h3>Customer Care</h3>
                    <ul class="footer-links">
                        <li><a href="#"> Need Help? ☎️ Call/Whatsapp 0735-413-243</a></li>
                    </ul>
                </div>

            </div>

            <!-- Bottom Section -->
            <div class="footer-bottom">
                <p>&copy; 2026 Two Of Us Communications. | Crafted by Eyern</p>
            </div>

        </div>
    </footer>

    <!-- all js here -->
    <script>
        
    </script>

    <script>
        let currentIndex = 0;
        const slides = document.querySelectorAll('.slide');
        const totalSlides = slides.length;
        const container = document.querySelector('.slider-container');

        function updateSlider() {
        container.style.transform = `translateX(-${currentIndex * 100}%)`;
        }

        function moveSlide(direction) {
        currentIndex = (currentIndex + direction + totalSlides) % totalSlides;
        updateSlider();
        }

        // Auto slide every 4 seconds
        let autoSlide = setInterval(() => {
        moveSlide(1);
        }, 4000);

        // Pause auto-slide on hover
        const sliderElement = document.querySelector('.hero-slider');
        sliderElement.addEventListener('mouseenter', () => clearInterval(autoSlide));
        sliderElement.addEventListener('mouseleave', () => {
        autoSlide = setInterval(() => moveSlide(1), 4000);
        });

    </script>
    <!-- jquery latest version -->
    <script src="{% static 'js/vendor/jquery-1.12.3.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- owl.carousel js -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- meanmenu js -->
    <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
    <!-- countdown JS -->
    <script src="{% static 'js/countdown.js' %}"></script>
    <!-- nivo.slider JS -->
    <script src="{% static 'js/jquery.nivo.slider.pack.js' %}"></script>
    <!-- simpleLens JS -->
    <script src="{% static 'js/jquery.simpleLens.min.js' %}"></script>
    <!-- jquery-ui js -->
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <!-- load-more js -->
    <script src="{% static 'js/load-more.js' %}"></script>
    <!-- plugins js -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- main js -->
    <script src="{% static 'js/main.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.thumb a').click(function(e){
                e.preventDefault();
                $('.mainImage img').attr('src', $(this).attr("href"));
                $('.mainImage a').attr('data-lens-image', $(this).attr("data-lens-image"));
            })
        })
    </script>
</body>

</html>